@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

@media (max-width: 400px) {
  .container {
    height: 70vh;
  }
  #display {
    font-size: 1.2rem;
  }
  h1 {
    padding: 7px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
@media (min-width: 980px) {
  .container {
    height: 60vh;
  }
  #display {
    font-size: 0.7rem;
    font-size: 2rem;
  }
  h1 {
    padding: 10px;
    font-size: 2rem;
  }
}
.container {
  background-color: slateblue;
  width: 80%;
  top: 50%;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 10px 10px 10px;
}

#totall {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
  outline: none;
  padding: 10px;
}
#tip {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  margin-top: 10px;
}

#final {
  width: 200px;
  height: 50px;
  border: none;
  margin: 20px;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  color: black;
  background-color: white;
}

#final:focus {
  background-color: thistle;
  color: black;
}

#final:hover {
  background-color: black;
  color: white;
}
#totall::placeholder {
  color: black;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}
#tip::placeholder {
  color: black;
  font-size: 1rem;
  padding: 10px;
  font-weight: 700;
}

#display {
  padding: 10px;
  margin: 40px 10px 10px;
  font-weight: 800;
}
